.searcher {
    position: relative;
    width: 100%;
    max-width: 390px;
}
.searcher input {
    border: 1px solid#E0E2EA;
    border-radius: 8px;
    height: 48px;
    box-sizing: border-box;
    padding-left: 30px;
    width: 100%;
}

.searcher input::placeholder {
    color: #1A1B1D;
    font-family: Nunito;
    font-style: normal;
    font-weight: 600;
    font-size: 14px;
}

.searcher label {
    position: absolute;
    right: 15px;
    top: 50%;
    transform: translateY(-40%);
}

@media only screen and (min-width: 1201px) {
    .allFilters {
        width: 800px;
    }
}